<div class="header">
  <h1>ngpq-table</h1>

  <h4>Angular Table for large and small projects</h4>

  <div class="docs-container">
    <a routerLinkActive="active" routerLink="demo"> Demo </a>
    <a routerLinkActive="active" routerLink="example"> Example </a>
    <a routerLinkActive="active" routerLink="documentation"> Documentation </a>
    <a href="https://github.com/AramPqo/ngpq-table" target="_blank"> Github </a>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
